In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"C:\Users\user\Desktop\Receiving datas\Flavors.csv")
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [5]:
group_by_frame = df.groupby("Base Flavor")

In [7]:
group_by_frame.mean("aggregate")

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [11]:
group_by_frame = df.groupby("Base Flavor")
group_by_frame.count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [12]:
group_by_frame = df.groupby("Base Flavor")
group_by_frame.min()

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [13]:
group_by_frame = df.groupby("Base Flavor")
group_by_frame.max()

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [14]:
df.groupby(["Base Flavor","Liked"]).mean("aggregate")

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [15]:
df.groupby("Base Flavor").agg({"Flavor Rating":["mean","max", "count", "sum"]})

            Flavor Rating
                     mean   max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2
Vanilla               5.7  10.0     6  34.2

In [18]:
df.groupby("Base Flavor").agg({"Flavor Rating":["mean","max", "count", "sum"],"Texture Rating":["mean","max", "count", "sum"], "Total Rating":["mean","max", "count", "sum"]})

            Flavor Rating                   Texture Rating                   \
                     mean   max count   sum           mean  max count   sum
Base Flavor
Chocolate             8.4   8.8     3  25.2       7.233333  7.6     3  21.7
Vanilla               5.7  10.0     6  34.2       5.650000  8.0     6  33.9

            Total Rating
                    mean   max count   sum
Base Flavor
Chocolate          15.70  16.6     3  47.1
Vanilla            11.35  18.0     6  68.1